In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
!wget -q https://downloads.apache.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz

In [3]:
!tar xf /content/spark-3.1.2-bin-hadoop2.7.tgz

In [4]:
#variáveis do ambiente
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] =  "/content/spark-3.1.2-bin-hadoop2.7"

In [5]:
!pip install -q findspark

In [6]:
import findspark
findspark.init(os.environ["SPARK_HOME"])

In [7]:
#criando spark session
from pyspark.sql import SparkSession
#import pyspark.sql.functions as F
#import pyspark.sql.types as T

spark = (SparkSession.builder
         .master('local')
         .appName('streaming_ETL_pipeline')
         .getOrCreate()
)

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
#Listando todos...
!ls /content/drive/MyDrive/airlines-datasets/

part-00000.csv	part-00004.csv	part-00008.csv	part-00012.csv
part-00001.csv	part-00005.csv	part-00009.csv	part-00013.csv
part-00002.csv	part-00006.csv	part-00010.csv	part-00014.csv
part-00003.csv	part-00007.csv	part-00011.csv	part-00015.csv

In [10]:
part = spark.read.csv("/content/drive/MyDrive/airlines-datasets/part-00000.csv", header=True, inferSchema=True)

In [11]:
part.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- DayofMonth: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: integer (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: integer (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: integer (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: integer (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- Cancelled: integer (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: integer (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)
 |-- IsArrDelayed: string (nullable = true)
 |-- IsDepDelayed: string (nullable = true)

In [12]:
part.show(5)

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|IsArrDelayed|IsDepDelayed|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
|1987|   10|        14|        3|    741|       730|    912|       849|           PS|     1451|     NA|               91|            79|     NA|      23|      11|   SAN| SFO|     447|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|         YES|         YES|
|1987|   10|        15|        4|    729|       730|    903|       849|           PS|     1451|     NA|               94|            79|     NA|      14|      -1|   SAN| SFO|     447|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|         YES|          NO|
|1987|   10|        17|        6|    741|       730|    918|       849|           PS|     1451|     NA|               97|            79|     NA|      29|      11|   SAN| SFO|     447|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|         YES|         YES|
|1987|   10|        18|        7|    729|       730|    847|       849|           PS|     1451|     NA|               78|            79|     NA|      -2|      -1|   SAN| SFO|     447|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|1987|   10|        19|        1|    749|       730|    922|       849|           PS|     1451|     NA|               93|            79|     NA|      33|      19|   SAN| SFO|     447|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|         YES|         YES|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
only showing top 5 rows

In [13]:
#Utilizando part-00000.csv como entrada para criar a versão da stream. Depois, será lido cada arquivo um por um, simulando um sistema de streaming de dados
dataSchema = part.schema
dataSchema

StructType(List(StructField(Year,IntegerType,true),StructField(Month,IntegerType,true),StructField(DayofMonth,IntegerType,true),StructField(DayOfWeek,IntegerType,true),StructField(DepTime,StringType,true),StructField(CRSDepTime,IntegerType,true),StructField(ArrTime,StringType,true),StructField(CRSArrTime,IntegerType,true),StructField(UniqueCarrier,StringType,true),StructField(FlightNum,IntegerType,true),StructField(TailNum,StringType,true),StructField(ActualElapsedTime,StringType,true),StructField(CRSElapsedTime,IntegerType,true),StructField(AirTime,StringType,true),StructField(ArrDelay,StringType,true),StructField(DepDelay,StringType,true),StructField(Origin,StringType,true),StructField(Dest,StringType,true),StructField(Distance,StringType,true),StructField(TaxiIn,StringType,true),StructField(TaxiOut,StringType,true),StructField(Cancelled,IntegerType,true),StructField(CancellationCode,StringType,true),StructField(Diverted,IntegerType,true),StructField(CarrierDelay,StringType,true),StructField(WeatherDelay,StringType,true),StructField(NASDelay,StringType,true),StructField(SecurityDelay,StringType,true),StructField(LateAircraftDelay,StringType,true),StructField(IsArrDelayed,StringType,true),StructField(IsDepDelayed,StringType,true)))

In [14]:
#Limitando o flow de streaming para 1 arquivo de cada vez por trigger
streaming = (
    spark.readStream.schema(dataSchema)
    .option("maxFilesPerTrigger", 1)
    .csv("/content/drive/MyDrive/airlines-datasets/")
)

In [15]:
#Aplicando transformação: rankeando número de voo com respectivas origens e destinos com as maiores médias de atrasos de chegada a partir de um total de 20 voos
streaming.createOrReplaceTempView('ranking_arrDelay_table')
ranking_arrDelay = spark.sql('''SELECT * FROM (
              SELECT FlightNum, Origin, Dest, count(*) as total_flights, round(mean(ArrDelay),2) as mean_ArrDelay_in_minutes 
              FROM ranking_arrDelay_table 
              GROUP BY flightNum, Origin, Dest 
              ORDER BY mean_ArrDelay_in_minutes desc
             )
             WHERE total_flights > 20''')

In [16]:
activityQuery = (
    ranking_arrDelay.writeStream.queryName("ranking_arrDelay_table")
    .format("memory")
    .outputMode("complete")
    .start()
)

import time

for x in range(15):
    _df = spark.sql("SELECT * FROM ranking_arrDelay_table")
    if _df.count() > 0:
        print("Total rows:", _df.count())
        _df.show(10)
    time.sleep(1)

Total rows: 16542
+---------+------+----+-------------+------------------------+
|FlightNum|Origin|Dest|total_flights|mean_ArrDelay_in_minutes|
+---------+------+----+-------------+------------------------+
|      355|   DEN| SEA|           30|                   73.66|
|       81|   LAX| HNL|           34|                   66.03|
|      398|   LAS| ABQ|           36|                   65.81|
|      960|   SJU| EWR|           81|                   64.23|
|      103|   ATL| PHX|           25|                   58.92|
|      399|   MSP| SMF|           27|                    58.1|
|     1105|   DEN| SFO|           69|                   57.93|
|      345|   SJC| SFO|           28|                   56.81|
|      325|   MCI| SFO|           85|                   55.93|
|     1637|   IAD| DEN|           54|                   55.44|
+---------+------+----+-------------+------------------------+
only showing top 10 rows

Total rows: 18677
+---------+------+----+-------------+------------------------+
|FlightNum|Origin|Dest|total_flights|mean_ArrDelay_in_minutes|
+---------+------+----+-------------+------------------------+
|     1631|   ATL| DEN|           21|                   115.8|
|      863|   BOS| TPA|           27|                   76.96|
|      855|   DEN| LAX|           38|                   72.57|
|      970|   MIA| BOS|           64|                   70.67|
|     1421|   SLC| ANC|           43|                   69.32|
|     1721|   SEA| ANC|           36|                   68.17|
|      398|   LAS| ABQ|           36|                   65.81|
|      658|   MSP| MKE|           34|                   64.09|
|       85|   MIA| SJU|           34|                   62.18|
|      505|   MIA| LAX|           91|                   61.69|
+---------+------+----+-------------+------------------------+
only showing top 10 rows

Total rows: 22995
+---------+------+----+-------------+------------------------+
|FlightNum|Origin|Dest|total_flights|mean_ArrDelay_in_minutes|
+---------+------+----+-------------+------------------------+
|     1631|   ATL| DEN|           21|                   115.8|
|       12|   HNL| SFO|           24|                   77.13|
|      398|   LAS| ABQ|           36|                   65.81|
|      658|   MSP| MKE|           34|                   64.09|
|      779|   MLB| EWR|           23|                   61.45|
|       11|   SFO| HNL|           24|                   60.88|
|     1605|   IAD| DEN|           47|                    60.5|
|      970|   MIA| BOS|           92|                   59.47|
|      103|   ATL| PHX|           25|                   58.92|
|     1038|   ATL| EWR|           24|                   58.33|
+---------+------+----+-------------+------------------------+
only showing top 10 rows

Total rows: 26106
+---------+------+----+-------------+------------------------+
|FlightNum|Origin|Dest|total_flights|mean_ArrDelay_in_minutes|
+---------+------+----+-------------+------------------------+
|     1631|   ATL| DEN|           21|                   115.8|
|       59|   DEN| LAX|           21|                   87.24|
|     1038|   ATL| EWR|           28|                   79.25|
|      398|   LAS| ABQ|           36|                   65.81|
|      779|   MLB| EWR|           23|                   61.45|
|       12|   HNL| SFO|           32|                   61.06|
|     1605|   IAD| DEN|           47|                    60.5|
|      103|   ATL| PHX|           25|                   58.92|
|      921|   FLL| MIA|           29|                   57.11|
|      970|   MIA| BOS|          116|                   55.96|
+---------+------+----+-------------+------------------------+
only showing top 10 rows

Total rows: 29195
+---------+------+----+-------------+------------------------+
|FlightNum|Origin|Dest|total_flights|mean_ArrDelay_in_minutes|
+---------+------+----+-------------+------------------------+
|     1631|   ATL| DEN|           21|                   115.8|
|     1038|   ATL| EWR|           32|                   72.53|
|       59|   DEN| LAX|           30|                   66.37|
|      398|   LAS| ABQ|           36|                   65.81|
|      779|   MLB| EWR|           23|                   61.45|
|     1605|   IAD| DEN|           47|                    60.5|
|      103|   ATL| PHX|           25|                   58.92|
|      921|   FLL| MIA|           29|                   57.11|
|      970|   MIA| BOS|          116|                   55.96|
|      838|   EWR| BTV|           23|                   55.86|
+---------+------+----+-------------+------------------------+
only showing top 10 rows

Total rows: 33242
+---------+------+----+-------------+------------------------+
|FlightNum|Origin|Dest|total_flights|mean_ArrDelay_in_minutes|
+---------+------+----+-------------+------------------------+
|     1631|   ATL| DEN|           21|                   115.8|
|     1038|   ATL| EWR|           32|                   72.53|
|      398|   LAS| ABQ|           36|                   65.81|
|      760|   LNK| ORD|           31|                   63.43|
|       59|   DEN| LAX|           34|                    63.0|
|      779|   MLB| EWR|           23|                   61.45|
|     1605|   IAD| DEN|           47|                    60.5|
|      103|   ATL| PHX|           25|                   58.92|
|       45|   JFK| MIA|          111|                   57.94|
|      473|   JFK| PIT|           24|                   57.17|
+---------+------+----+-------------+------------------------+
only showing top 10 rows

Total rows: 36796
+---------+------+----+-------------+------------------------+
|FlightNum|Origin|Dest|total_flights|mean_ArrDelay_in_minutes|
+---------+------+----+-------------+------------------------+
|     1631|   ATL| DEN|           21|                   115.8|
|     1038|   ATL| EWR|           32|                   72.53|
|      398|   LAS| ABQ|           36|                   65.81|
|       59|   DEN| LAX|           44|                   62.57|
|      779|   MLB| EWR|           23|                   61.45|
|     1605|   IAD| DEN|           47|                    60.5|
|      103|   ATL| PHX|           25|                   58.92|
|      921|   FLL| MIA|           29|                   57.11|
|      970|   MIA| BOS|          116|                   55.96|
|      838|   EWR| BTV|           23|                   55.86|
+---------+------+----+-------------+------------------------+
only showing top 10 rows

Total rows: 39921
+---------+------+----+-------------+------------------------+
|FlightNum|Origin|Dest|total_flights|mean_ArrDelay_in_minutes|
+---------+------+----+-------------+------------------------+
|     1631|   ATL| DEN|           21|                   115.8|
|     1038|   ATL| EWR|           32|                   72.53|
|      398|   LAS| ABQ|           36|                   65.81|
|      779|   MLB| EWR|           23|                   61.45|
|     1605|   IAD| DEN|           47|                    60.5|
|      103|   ATL| PHX|           25|                   58.92|
|      921|   FLL| MIA|           29|                   57.11|
|      970|   MIA| BOS|          116|                   55.96|
|      838|   EWR| BTV|           23|                   55.86|
|      711|   PIT| ERI|           21|                   55.71|
+---------+------+----+-------------+------------------------+
only showing top 10 rows

Total rows: 45518
+---------+------+----+-------------+------------------------+
|FlightNum|Origin|Dest|total_flights|mean_ArrDelay_in_minutes|
+---------+------+----+-------------+------------------------+
|     1631|   ATL| DEN|           21|                   115.8|
|     1038|   ATL| EWR|           32|                   72.53|
|      398|   LAS| ABQ|           36|                   65.81|
|      779|   MLB| EWR|           23|                   61.45|
|     1605|   IAD| DEN|           47|                    60.5|
|      103|   ATL| PHX|           25|                   58.92|
|      921|   FLL| MIA|           29|                   57.11|
|      970|   MIA| BOS|          116|                   55.96|
|      838|   EWR| BTV|           23|                   55.86|
|      711|   PIT| ERI|           21|                   55.71|
+---------+------+----+-------------+------------------------+
only showing top 10 rows

In [17]:
spark.streams.active[0].isActive

True

In [18]:
activityQuery.status

{'isDataAvailable': True,
 'isTriggerActive': True,
 'message': 'Processing new data'}

In [19]:
activityQuery.stop()